.HomePageGreeting-header {
   background-color: #212226;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;
   font-size: calc(8px + 2vmin);
   color: white;
   padding-left: 15vw;
   padding-right: 15vw;
}

.HomePageGreeting-main-image {
   height: 25vw;
}

.HomePageGreeting-main-title-text {
   margin: 0;
}

.HomePageGreeting-fade-in {
   animation: fadeIn linear 333ms;
   -webkit-animation: fadeIn linear 333ms;
   -moz-animation: fadeIn linear 333ms;
   -o-animation: fadeIn linear 333ms;
   -ms-animation: fadeIn linear 333ms;
}

@keyframes fadeIn {
   
   0% {opacity:0;}
   100% {opacity:1;}
}

@-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-ms-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}