.ScrapbookPageContent {
   text-align: center;
}

.ScrapbookPageContent-body {
   background-color: #212226;
   min-height: 100vh;
   font-size: calc(8px + 2vmin);
   color: white;
   padding-top: 5vh;
   padding-bottom: 5vh;
   padding-left: 10vw;
   padding-right: 10vw;
}

.ScrapbookPageContent-grid {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.ScrapbookPageContent-delete-item {
   transform: scale(2.3);
   color: #40454b;
   margin-top: 20px;
}

.ScrapbookPageContent-delete-item:hover {
   color: rgb(162, 52, 52);
}

input[type="date"]::-webkit-calendar-picker-indicator {
   filter: invert(1.0);
}

@keyframes fadeIn {
   
   0% {opacity:0;}
   100% {opacity:1;}
}

@-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-ms-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}