.ScrapbookPageContent {
   text-align: center;
}

.ScrapbookPageContent-body {
   background-color: #212226;
   min-height: 100vh;
   font-size: calc(8px + 2vmin);
   color: white;
   padding-top: 5vh;
   padding-bottom: 5vh;
   padding-left: 10vw;
   padding-right: 10vw;
}

.ScrapbookPageContent-grid {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;
}

.ScrapbookPageCardAddImg {
   text-align: center;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-content: space-around !important;
   justify-content: center !important;
   background-color: #40454b !important;
   width: 250px !important;
   height: 300px !important;
}

.ScrapbookPageCardAddImg-button {
   margin-left: 10px !important;
   margin-top: 5px !important;
   margin-right: 10px !important;
   margin-bottom: 5px !important;
   background-color: #363940 !important;
}

.ScrapbookPageCardAddImg-item {
   text-align: center !important;
   margin: auto !important;
}

.ScrapbookPageCardAddImg-item-input {
   width: 80%;
   border-radius: 5px;
   font-size: 15px;
   padding-top: 6px;
   padding-bottom: 6px;
   background-color: #363940;
   border-width: 1px;
   margin-bottom: 10px !important;
   border-color: white !important;
   color: white !important;
   text-align: center !important;
}

.ScrapbookPageCardAddImg-item-input::placeholder {
   color: white;
}

.ScrapbookPageCardAddImg-item-input:focus {
   outline: none !important;
}

.ScrapbookPageContent-delete-item {
   margin-top: 5px;
}

.ScrapbookPageContent-delete-item:hover {
   color: rgb(162, 52, 52);
}

input[type="date"]::-webkit-calendar-picker-indicator {
   filter: invert(1.0);
}

.ScrapbookPageCardAddImg-fade-in {
   animation: fadeIn linear 333ms;
   -webkit-animation: fadeIn linear 333ms;
   -moz-animation: fadeIn linear 333ms;
   -o-animation: fadeIn linear 333ms;
   -ms-animation: fadeIn linear 333ms;
}

@keyframes fadeIn {
   
   0% {opacity:0;}
   100% {opacity:1;}
}

@-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-ms-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}