.Navbar {
   padding-top: 10px;
   background-color: #212226;
}

.Navbar-dropdown {
   display: none !important;
}

.Navbar-logo {
   width: 100px;
   height: 50px;
   border-radius: 10px;
}

.Navbar-section-side {
   flex-grow: 1;
}

.Navbar-section-middle {
   flex-grow: 8;
}

.Navbar-button {
   margin-left: 10px !important;
   margin-top: 5px !important;
   margin-right: 10px !important;
   margin-bottom: 5px !important;
   background-color: #363940 !important;
   flex-grow: 1 !important;
}

.Navbar-button:hover {
   background-color: #40454b !important;
}

@media (max-width:800px){ 
   .Navbar {
      display: none !important;
   } 

   .Navbar-dropdown {
      background-color: #212226;
      display: flex !important;
   }

   .Navbar-dropdown-logo {
      margin-top: 5px;
      width: 75px;
      height: 33px;
      border-radius: 10px;
   }

   .Navbar-dropdown-button {
      margin-left: 10px;
      margin-right: 10px;
   }

   .Navbar-dropdown-button:hover {
      color: #b9bbc0 !important;
      margin-left: 10px;
      margin-right: 10px;
   }
}