.ScrapbookPageCardAddImg {
   text-align: center;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-content: center;
   justify-content: center;
   background-color: #40454b !important;
   width: 250px !important;
   height: 300px !important;
}

.ScrapbookPageCardAddImg-fade-in {
   animation: fadeIn linear 333ms;
   -webkit-animation: fadeIn linear 333ms;
   -moz-animation: fadeIn linear 333ms;
   -o-animation: fadeIn linear 333ms;
   -ms-animation: fadeIn linear 333ms;
}

@keyframes fadeIn {
   
   0% {opacity:0;}
   100% {opacity:1;}
}

@-moz-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-o-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}

@-ms-keyframes fadeIn {
   0% {opacity:0;}
   100% {opacity:1;}
}