.ErrorPage-header {
   background-color: #212226;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(8px + 2vmin);
   color: white;
   padding-left: 40vh;
   padding-right: 40vh;
}

.ErrorPage-main-image {
   border-radius: 25px;
   height: 20vw;
   margin-bottom: 30px;
}

.ErrorPage-main-text {
   margin: 0;
}

.ErrorPage-main-button-container {
   margin-top: 30px;
}
