/* NOTE: I recognize that this is a bad way of styling, but I thought 
getting some practice with CSS selectors would be beneficial*/

/* Overwriting default styling for amplify stuff */
[data-amplify-container] {
   font-family: 'Roboto', sans-serif !important;
   border-radius: 5px !important;
   border: none !important;
}

[data-amplify-container] > div {
   background-color: #303136 !important;
   border-radius: 5px !important;
   border: none !important;
}

[data-amplify-container] * {
   color: white !important;
}

/* The 'Sign In' and 'Create Account' bar at the top */
[data-amplify-container] > div > div > div:first-child * {
   background-color: #303136 !important;
}

[data-amplify-container] > div > div > div:first-child * [aria-selected~=true] {
   border-color: black;
}

/* Everything else below the 'Sign In' and 'Create Account' bar at the top */
[data-amplify-container] * ::placeholder {
   color: #e6e6ee !important;
   opacity: 1;
}

[data-amplify-container] * ::placeholder {
   color: #e6e6ee !important;
}

[data-amplify-container] * ::placeholder {
   color: #e6e6ee !important;
}

.amplify-textfield {
   background-color: #363940 !important;
   border-radius: 5px !important;
}

.amplify-textfield :focus {
   border-color: #aeb3b7 !important;
   background-color: none;
}

.amplify-field-group__outer-end * {
   background-color: #363940 !important;
}

/* Styling the amplify alerts */
.amplify-alert {
   background-color: #212226 !important;
}

.amplify-alert * {
   background-color: #212226 !important;
}

/* Styling for hover effects for elements below the 'Sign In' and 'Create Account' bar at the top */
[data-amplify-container] > div > div > :not([role~=tablist]) :hover {
   border-color: #aeb3b7 !important;
}

[data-amplify-container] > div > div > :not([role~=tablist]) :focus {
   border-color: #aeb3b7 !important;
}


/* Styling the submit button to appear like the MUI button */
[data-amplify-container] * :not([role~=tablist]) [type~=submit] {
   background-color: #363940 !important;
   position: relative !important;
   overflow: hidden !important;
   transition: background 400ms !important;
   color: #fff !important;
   font-family: 'Roboto', sans-serif !important;
   outline: 0 !important;
   border: 0 !important;
   border-radius: 0.25rem !important;
   box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3) !important;
   cursor: pointer !important;
}

[data-amplify-container] * :not([role~=tablist]) [type~=submit]:hover {
   background-color: #40454b !important;
}

[data-amplify-container] * [data-variation~=link]:hover {
   background-color: #303136 !important;
   color: #b9bbc0 !important;
}